*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.header-top{
    width: 100%;
    background-color: #0d0d1b;
    padding: 8px 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 69;
}
.header-top .logo a{
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.1em;

}
.header-top .logo a span{
    color: #faca22;
}
.main-menu ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}
.main-menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    position: relative;
}
.main-menu ul li a::after{
    content: "";
    width: 0px;
    height: 2px;
    background: #faca22;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: all 0.5s;
}
.main-menu ul li a:hover::after{
    width: 100%;
}
.main-menu .fa-solid{
    display: none;
}
.header-bottom{
    width: 100%;
    height: 140vh;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #0b0d19), url(images/cover6.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 8% 6% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-bottom .bottom-left .name{
    font-size: 46px;
}
.bottom-left .name span{
    color: #faca22;
}
.bottom-left .profession{
    font-size: 22px;
    font-weight: 500;
}
.bottom-left .sort-desc{
    font-size: 16px;
    padding: 20px 35px 20px 0; 
}
.bottom-left .btn-cv{
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    background-color: #faca22;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
}
.bottom-left .btn-cv:hover{
    background-color: #fff;
    transform: scale(1.1);
}
.header-bottom .button-right a{
    display: block;
    font-size: 18px;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 6px;
    color: #f7f7f7;
    padding: 6px 10px;
    margin-bottom: 15px;
    transition: all 0.5s;
}
.header-bottom .button-right a:hover{
    border: 1px solid #faca22;
    color: #faca22;
    transform: scale(1.1);
    
}
/* header section code end here  */
/* testimonial section code start here  */
.testimonial{
    padding: 60px 4% 80px;
    text-align: center;
}
.testimonial .testimonial-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 50px;
}
.testimonial-list .review{
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px 1px;
    border-radius: 10px;
    padding: 40px 30px;
    cursor: pointer;
}
.testimonial-list .review:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.review i{
    font-size: 54px;
    color: #faca22;
}
.review .review-text{
    font-size: 18px;
    line-height: 1.3;
    text-align: left;
    padding: 20px 0 30px;  
}
.review .reviewd-by{
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    align-items: center;
    text-align: start;
}
.reviewd-by .img{
    flex-basis: 20%;
}
.reviewd-by .img img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.reviewd-by .info{
    height: 60px;
}
.reviewd-by .info .name{
    font-size: 18px;
    font-weight: 600;
}
.reviewd-by .info .resignation{
    font-size: 16px;
    font-weight: 500;
    opacity: 0.8;
}
/* testimonial section code end here  */
/* contact section start here  */
.contact-section{
    background-color: #faca22;
    padding: 60px 8% 40px;
    text-align: center;
}
.section-titel .sub-titel{
    font-size: 40px;
    color: #d9dae7;
    font-weight: 600;
    margin-top: 100px;
}
.contact-section .contact{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}
.contact .contact-left,
.contact .contact-right{
    flex-basis: 50%;
}
.contact .contact-left form{
    width: 100%;
}
.contact-left input,
.contact-left textarea,
.contact-left button{
    width: 100%;
    border: 0;
    outline: none;
    background: #f7f7f7;
    color: black;
    resize: none;
    font-size: 14px;
    margin: 8px 0;
    padding: 10px;
    border-radius: 6px;
}
.contact-left form button{
    background: #000;
    color: #fff;
    font-size: 500;
    margin: 0;
    cursor: pointer;
}
.contact .vi{
    border-left: 2px solid #fff;
    height: 300px;
}
.contact .contact-right{
    text-align: left;
}
.contact-right .col{
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.contact-right .col i{
    font-size: 28px;
    margin-right: 10px;
}
.col .info .titel{
    font-size: 20px;
}
.copy-right{
    font-size: 16px;
    font-weight: 500;
    margin-top: 60px;
}
.copy-right a{
    text-decoration: none;
    color: #120f2d;
}
.copy-right a:hover{
    color: #fff;
}

/* contact section end here  */
/* Responsive design code start here  */
@media only screen and (max-width: 900px) {
    .main-menu .fa-solid{
        display: block;
        color: #faca22;
        font-size: 22px;
    }
    .main-menu ul{
        background-color: #120f2d;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 60px;
        z-index: 2;
        transition: all 0.5s;
    }
    .main-menu ul li{
        display: block;
        color: #faca22;
        margin: 25px;
    }
    .main-menu ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .about .about-left{
        flex-basis: 100%;
        margin-bottom: 40px;
    }
    .about .about-left img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .about .about-right{
        flex-basis: 100%;
    }
    .about-right .tab-links{
        margin-right: 60px;
        font-size: 22px;
    }
    .about-right .tab-contents ul li{
        font-size: 20px;
    }
    .about-right .tab-contents ul li span{
        font-size: 18px;
    }
    .testimonial .testimonial-list{
        grid-gap: 20px;
    }
    .testimonial-list .review{
        padding: 30px 15px;
    }
    .reviewd-by .info .name{
        font-size: 16px;
    }
}
@media only screen and (max-width: 560px){
    .header-bottom .bottom-left .name{
        font-size: 40px;
    }
    .bottom-left .profession{
        font-size: 20px;
    }
    .bottom-left .sort-desc{
        font-size: 18px;
        padding-right: 20%;
    }
    .about-left img{
        width: 80%;
    }
    .about-right .tab-links{
        margin-right: 30px;
        font-size: 20px;
    }
    .about-right .tab-contents ul li,
    .about-right .tab-contents ul li span{
        font-size: 18px;
    }
    .servises-parent{
        grid-template-columns: repeat(2, 1fr);
        margin-right: 60px;
        margin-left: 10px;
    }
    #portfolio .projecct-list{
        grid-template-columns: repeat(2, 1fr);
        margin-left: 60px;
        margin-right: 60px;
    }
    .testimonial .testimonial-list{
        grid-template-columns: repeat(2, 1fr);
        margin-left: 60px;
        margin-right: 60px;
    }
    .reviewd-by .info .resignation{
        font-size: 16px;
    }
    .contact-section .contact{
        flex-wrap: wrap;
    }
    .contact .contact-left,
    .contact .contact-right{
        flex-basis: 100%;
    }
    .contact .vi{
        display: none;
    }
}
@media only screen and (max-width: 450px){
    .header-bottom .bottom-left .name{
        font-size: 32px;
    }
    .bottom-left .profession{
        font-size: 18px;
    }
    .bottom-left .sort-desc{
        font-size: 16px;
        padding-right: 6%;
    }
    .bottom-left .btn-cv{
        font-size: 16px;
        padding: 8px 12px;
    }
    .section-titel .sub-titel{
        font-size: 20px;
    }
    .about-left img{
        width: 80%;
    }
    .about-right .tab-links{
        margin-right: 25px;
        font-size: 18px;
    }
    .about-right .tab-contents ul li,
    .about-right .tab-contents ul li span{
        font-size: 16px;
    }
    .servises-parent{
        grid-template-columns: repeat(1, 1fr);
        margin-right: 10px;
        margin-left: 10px;
    }
    #portfolio .projecct-list{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 10px;
        margin-right: 10px;
    }
    .testimonial .testimonial-list{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 10px;
        margin-right: 10px;
    }

}
/* Responsive design code end here  */
